@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.default-page{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.breadcrumb{
  margin-bottom: 0;
}
.date-clr {
  position: relative;
  bottom: 1.8rem;
  left: 12rem;
}
#reservationDate:focus-visible{
  box-shadow: none;
  border: 1px solid #999;
}
.form-control:focus-visible{
  box-shadow: none;
  border: 1px solid #000;
}
.add-player{
  width: 32rem;
  margin: auto;
}
.add-player-btn{
  width: 100%;
}